<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Jane</title>

    <!-- Lobster Font for Logo -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- iOS and Android icon -->
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/button_new.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="js/bootstrap.min.js"></script> -->

  <div class="container">
    <div class="page-header">
      <h1>Add a Button</h1>
    </div>

    <div class="container col-sm-offset-1 col-sm-10">
      <form class="form-horizontal col-sm-offset-1" action="save" method="post" id="addButton">
        <div class="form-group">
          <label for="label" class="col-sm-2 control-label">Button Label</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="label" required>
          </div>
        </div>
        <div class="form-group">
          <label for="icon" class="col-sm-2 control-label">Button Icon</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="icon" value="off">
            <span name="helpBlock" class="help-block"><a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Available Icons</a> - Only use the last word of the icon, ie: <strong>plus</strong></span>
          </div>
        </div>
        <div class="form-group">
          <label for="color" class="col-sm-2 control-label">Button Color</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="color" value="btn-info" required>
            <span name="helpBlock" class="help-block"><a href="http://getbootstrap.com/css/#buttons-options" target="_blank">Available Buttons</a> - ie: <strong>btn-danger</strong></span>
          </div>
        </div>
        <div class="form-group">
          <label for="device" class="col-sm-2 control-label">Device</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="device" required>
          </div>
        </div>
        <div class="form-group">
          <label for="action" class="col-sm-2 control-label">Action</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="action" required>
            <span name="helpBlock" class="help-block">The device action pair must be unique</span>
          </div>
        </div>
        <div class='col-sm-offset-2 checkbox'>
          <label>
            <input type='checkbox' name="show" checked="checked"> Show button in webinterface
          </label>
        </div>
        <div name="commands[]" class="commands">
        <div class='well well-sm col-sm-offset-2 col-sm-7'>
         <div class='form-group'>
           <label for='addon' class='col-sm-3 control-label'>Addon</label>
           <div class='col-sm-9'>
             <input type='text' class='form-control' name='commands[][addon]'>
           </div>
         </div>
         <div class='form-group'>
           <label for='sleep' class='col-sm-3 control-label'>Sleep</label>
           <div class='col-sm-9'>
             <input type='number' class='form-control' name='commands[][sleep]'>
           </div>
         </div>
         <div class='form-group'>
           <label for='para' class='col-sm-3 control-label'>Parameter</label>
           <div class='col-sm-4 parameter-field left'> 
             <input type='text' class='form-control' name='commands[][params][][key]'>
           </div>
           <div class='col-sm-4 parameter-field right'>
             <input type='text' class='form-control' name='commands[][params][][value]'>
           </div>
           <button type='button' class='btn btn-sx btn-success parameter-btn' onclick='add_parameter(this)'><span class='glyphicon glyphicon-plus'></span></button>
         </div>
        </div>
        </div>
        <button type="button" class="btn btn-success btn-sm col-sm-offset-7" onclick="add_command()">
          Add Command <span class="glyphicon glyphicon-plus"></span>
        </button>
        <input type="submit" value="Save" class="btn btn-primary btn-lg col-sm-offset-9" />
      </form>

  </div>
  </div>

  </body>
</html>
