<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Jane</title>

    <!-- Lobster Font for Logo -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/jasny-bootstrap.css" rel="stylesheet">
    <link href="/css/navmenu-push.css" rel="stylesheet">
    <!-- iOS and Android icon -->
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/jane.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jasny-bootstrap.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="js/bootstrap.min.js"></script> -->

      <!-- nav menu -->
    <nav id="sidebar" class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <a class="navmenu-brand" href="/">Jane</a>
      <ul class="nav navmenu-nav">
        <li><a href="/" title="dashboard">
          <span class="glyphicon glyphicon-dashboard nav-icon" aria-hidden="true"></span> Dashboard
        </a></li>
        <li><a href="/timetable" title="timetable">
          <span class="glyphicon glyphicon-calendar nav-icon" aria-hidden="true"></span> Timetable
        </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-th-large nav-icon" aria-hidden="true"></span> Buttons <b class="caret"></b>
          </a>
          <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="/button/new" title="add-button">
              <span class="glyphicon glyphicon-plus nav-icon" aria-hidden="true"></span> Add Button
            </a></li>
            <li><a href="/button/delete" title="delete-button">
              <span class="glyphicon glyphicon-remove nav-icon" aria-hidden="true"></span> Delete Button
            </a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-share-alt nav-icon" aria-hidden="true"></span> External Links <b class="caret"></b>
          </a>
          <ul class="dropdown-menu navmenu-nav" role="menu">
            <%= render_navlinks(Navlinks.config)%>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- nav icon -->
    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#sidebar" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

  <div class="container">
    <div class="page-header">
      <h1>Delete a Button</h1>
    </div>

    <div class="container col-sm-offset-1 col-sm-5">
      <form class="form" method="post">
        <div class="form-group">
          <label for="device">Device</label>
          <select class="form-control" id="device" name="device"></select>
        </div>
        <div class="form-group">
          <label for="action">Action</label>
          <select class="form-control" id="action" name="action"></select>
        </div>
        <div class="row pull-right">
          <a href="/" class="btn btn-default" role="button">Cancel</a>
          <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
      </form>
    </div>
  </div>

  </body>
</html>
