<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Jane</title>

    <!-- Lobster Font for Logo -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- iOS and Android icon -->
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="js/bootstrap.min.js"></script> -->

  <div class="container">
    <div class="jumbotron">
      <h1>Sorry, there was an Error</h1>
      <p>The Device Action pair you entered already exist. Please choose a different action name or another device.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/button/new" role="button">New Button</a>
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
      </p>
    </div>
  </div>

  </body>
</html>
