<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="container">
<div class="row">
<div class="col-xs-12">
	<h1>This is Jarvis <small>Let's get started</small></h1>
	<button type="button" class="btn btn-primary">Power All</button>
</div>
</div>
</div>