<head>
	  <link rel="stylesheet" href="css/foundation.css">
</head>

<body>


<div class="row">

<div class="small-1 large-2 columns">
</div>

<div class="small-10 large-8 columns">
	<h1>This is Jarvis</h1>
	<a href="#" class="button expand">Power All</a>
</div>

<div class="small-1 large-2 columns">
</div>

</div>

</body>