<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Jane</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- iOS and Android icon -->
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
  </head>

  <body>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/timetable.js"></script>

  <div class="container">
    <div class="page-header">
      <h1>Timetable</h1>
    </div>

    <div class="container col-sm-offset-1 col-sm-11">
      <form class="form-inline" id="timetable" action="timetable/save" method="post">
        <div name="entries[]" class="entries">
          <%= render_timetable(Timetable.config) %>
        </div>
      </form>
      <button type="button" class="btn btn-success" onclick="add_entry()">
        Add Entry <span class="glyphicon glyphicon-plus"></span>
      </button>
      <a href="/" class="btn btn-danger" role="button">Cancel</a>
      <input form="timetable" type="submit" value="Save" class="btn btn-primary" />
      <div class="pull-right">
        <p><a href="http://www.openjs.com/scripts/jslibrary/demos/crontab.php" target="_blank">Crontab Generator</a></p>
      </div>
    </div>

  </body>
</html>
