.job-icon{
  margin-right: 10px;
}


.timer-margin {
  margin-bottom: 5px;
}


.schedule{
  margin-top: 40px;
}

.nav-menu-pad {
  padding: 10px;
}

.nav-icon {
  margin-right: 5px;
}

.container-margin-top{
  margin-top: 44px; 
}

.container-margin-bottom{
  margin-bottom: 60px;
}

.btn-group.nav{
  margin-left: 19px;
  margin-top: 10px;
}
.btn-default {
  background-color: #39444e;
}
.btn-default:hover {
  background-color: #313B44;
}

.parameter-well{
  background-color: rgba(0, 0, 0, 0.075);
}

.navmenu-brand {
  font-size: 25px;
}

.form-group.cron-entry {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.form-group.cron-field {
  margin-bottom: 0px;
}

#ex6 .slider-selection {
  background: #BABABA;
}

#RGB {
  height: 20px;
  background: rgb(128, 128, 128);
}
#RC .slider-selection {
  background: #FF8282;
}
#RC .slider-handle {
  background: red;
}
#GC .slider-selection {
  background: #428041;
}
#GC .slider-handle {
  background: green;
}
#BC .slider-selection {
  background: #8283FF;
}
#BC .slider-handle {
  border-bottom-color: blue;
}
#R, #G, #B {
  width: 300px;
}
