.job-icon{
  margin-right: 10px;
}
.schedule{
  margin-top: 40px;
}

/*.logo {
  font-family: 'Lobster', cursive;
  font-size: 64px;
  text-align: center;
  color: #b7293a;
  text-shadow: 2px 2px 0 #513a33;
}*/
/*.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}*/

.nav-menu-pad {
  padding: 10px;
}

.container-margin-top{
  margin-top: 44px; 
}

.container-margin-bottom{
  margin-bottom: 60px;
}

.btn-group.nav{
  margin-left: 19px;
  margin-top: 10px;
}
.btn-default {
  background-color: #39444e;
}
.btn-default:hover {
  background-color: #313B44;
}
