.job-icon{
  margin-right: 10px;
}


.timer-margin {
  margin-bottom: 5px;
}


.schedule{
  margin-top: 40px;
}

.nav-menu-pad {
  padding: 10px;
}

.nav-icon {
  margin-right: 5px;
}

.container-margin-top{
  margin-top: 44px; 
}

.container-margin-bottom{
  margin-bottom: 60px;
}

.btn-group.nav{
  margin-left: 19px;
  margin-top: 10px;
}
.btn-default {
  background-color: #39444e;
}
.btn-default:hover {
  background-color: #313B44;
}

.btn.disabled.rgb-info {
  opacity: 1;
  cursor: default;
  
}

.parameter-well{
  background-color: rgba(0, 0, 0, 0.075);
}

.navmenu-brand {
  font-size: 25px;
}
.navbar-toggle {
  margin-top: 5px;
}

.form-group.cron-entry {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
/* Slider */
input[type="range"] {
  width: inherit;
  display: inline;
  margin: 0 15px;
}

.range input[type="range"] {
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 1px;
  width: auto;
  height: 43px;
  outline: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc), color-stop(100%, #ccc));
  background: linear-gradient(to right, #ccc 0%, #ccc 100%);
  background-position: center;
  background-size: 99% 2px;
  background-repeat: no-repeat;
  -webkit-appearance: none; }
  .range input[type="range"]::-webkit-slider-thumb {
    position: relative;
    width: 23px;
    height: 23px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-appearance: none;
    border: 0; }
  .range input[type="range"]::-webkit-slider-thumb:before {
    /* what creates the colorful line on the left side of the slider */
    position: absolute;
    top: 13px;
    left: -2001px;
    width: 2000px;
    height: 2px;
    background: #444;
    content: ' '; }
  .range input[type="range"]::-webkit-slider-thumb:after {
    /* create a larger (but hidden) hit area */
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 30px;
    content: ' '; }
  .range input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 11px 0 16px;
    color: transparent;
    margin-top: 20px; }
  .range input[type="range"]::-ms-thumb {
    width: 23px;
    height: 23px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
    margin-left: 1px;
    margin-right: 1px;
    outline: none; }
  .range input[type="range"]::-ms-fill-lower {
    height: 2px;
    background: #444; }
  .range input[type="range"]::-ms-fill-upper {
    height: 2px;
    background: #ccc; }

.range {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 2px 11px; }
  .range.range-primary input::-webkit-slider-thumb:before {
    background: #337ab7; }
  .range.range-primary input::-ms-fill-lower {
    background: #337ab7; }
  .range.range-success input::-webkit-slider-thumb:before {
    background: #5cb85c; }
  .range.range-success input::-ms-fill-lower {
    background: #5cb85c; }
  .range.range-danger input::-webkit-slider-thumb:before {
    background: #d9534f; }
  .range.range-danger input::-ms-fill-lower {
    background: #d9534f; }
  .range.range-warning input::-webkit-slider-thumb:before {
    background: #f0ad4e; }
  .range.range-warning input::-ms-fill-lower {
    background: #f0ad4e; }

.range .icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: block;
  min-width: 24px;
  text-align: center;
  font-size: 24px; }

.range input[type="range"] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  margin-right: 10px;
  margin-left: 10px; }

.range-label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  white-space: nowrap; }

.range-label:first-child {
  padding-left: 5px; }

.range input[type="range"] + .range-label {
  padding-right: 5px;
  padding-left: 0; }

.platform-windowsphone .range input[type="range"] {
  height: auto; }

.rgb-settings .range {
    padding: 0;
}

.form-group.cron-field {
  margin-bottom: 0px;
}

#brightness .slider-selection {
  background: #BABABA;
}

#RGB {
  height: 20px;
  background: rgb(128, 128, 128);
}
#RC .slider-selection {
  background: #FF8282;
}
#RC .slider-handle {
  background: red;
}
#GC .slider-selection {
  background: #428041;
}
#GC .slider-handle {
  background: green;
}
#BC .slider-selection {
  background: #8283FF;
}
#BC .slider-handle {
  border-bottom-color: blue;
}
#R, #G, #B {
  width: 300px;
}
