[
 { "label": "light-on",
   "icon": "on",
   "btn_class": "btn-info",
   "device" : "lampe",
   "action" : "on",
   "commands": [
     { "addon" : "radio",
       "sleep_after_command" : 0,
       "command_parameter":
         { "device": "lamp",
           "task": "on"
         }
     }
   ]
 },
 { "label": "light-off",
   "icon": "off",
   "btn_class": "btn-info",
   "device" : "lampe",
   "action" : "off",
   "commands": [
     { "addon" : "lamp",
       "sleep_after_command" : 0,
       "command_parameter":
         { "device": "lamp",
           "task": "off"
         }
     }
   ]
 }
]
